#root {
  padding: 0 20px;
}

html {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: #ee3b33 #282a35;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282a35;
  border-radius: 0 0 10px 10px;
  margin: 50px auto 20px;
  width: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  padding: 10px 20px;
  max-width: 800px;
}

@media (min-width: 992px) {
  .header {
    width: 100%;
  }
}

.header h1 {
  font-size: 35px;
  filter: drop-shadow(2px 2px 3px black);
  line-height: 1.2;
}

.header img {
  width: 95px;
  filter: drop-shadow(2px 2px 3px black);
}

.form-wrapper {
  margin-top: 100px;
  flex-direction: column;
  max-width: 650px;
  margin: 0 auto;
}

.form-wrapper ul {
  text-align: left;
  padding-left: 20px;
}

.form-wrapper h2 {
  color: var(--text-h);
}

.add-ingredient-form {
  margin: 20px 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
button {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.add-ingredient-form button {
  margin-left: 20px;
}
.add-ingredient-form button > span {
  font-size: 20px;
  margin-right: 10px;
}
.add-ingredient-form input {
  padding: 13px;
  flex-grow: 1;
  max-width: 400px;
  display: flex;
}

body {
  background:
    linear-gradient(rgb(40 42 53/90%), rgb(40 42 53 / 100%)),
    url(/src/assets/red-dwarf-map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

.get-script-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #282a35;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.suggested-recipe-container {
  background-color: #282a35;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
}

.suggested-recipe-container h1 {
  line-height: 1.2;
}
